In [1]:
nomes_cidade = ['São Paulo', 'Londres', 'Tóquio', 'Paris'] #Imprimir os elementos de uma lista usando for. Mesma coisa com tupla
for i in nomes_cidade:
    print(i)

São Paulo
Londres
Tóquio
Paris

In [2]:
i = 0                                                      #Mesmo exemplo com o uso de while
nomes_cidade = ['São Paulo', 'Londres', 'Tóquio', 'Paris']
while i < len(nomes_cidade):
    print(nomes_cidade[i])
    i = i + 1

São Paulo
Londres
Tóquio
Paris

In [4]:
cidade = {                                          #Como iterar os elementos de um dicionário
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes': 12.2
}

for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [9]:
nomes_cidade = ['São Paulo', 'Londres', 'Tóquio', 'Paris']  #Não dá para alterar o valor dos elementos dessa forma
for i in nomes_cidade:
    print(i)
    i = 'Rio de Janeiro'
    print(i)
    print('---')
print(nomes_cidade)

São Paulo
Rio de Janeiro
---
Londres
Rio de Janeiro
---
Tóquio
Rio de Janeiro
---
Paris
Rio de Janeiro
---
['São Paulo', 'Londres', 'Tóquio', 'Paris']

In [7]:
nomes_cidade = ['São Paulo', 'Londres', 'Tóquio', 'Paris'] #Possível alterar usando range
for i in range(len(nomes_cidade)):
    nomes_cidade[i] = 'Rio de Janeiro'
print(nomes_cidade)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [10]:
print(list(range(10)))          #Exemplos de aplicações do range
print(list(range(2,10)))
print(list(range(2,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]